<?xml version="1.0"?>
<plugin>
    <name>awtMetrics</name>
    <version>v1.1</version>
    <description>The Metrics Plugin is a straightforward and effective tool designed for effortless tracking of visitor counts on each web page.</description>
    <icon>chart-line-solid.svg</icon>
    <requiresAuthorization>true</requiresAuthorization>
    <authorizationFile>src.SPRT.awtMetrics.class.php</authorizationFile>
</plugin>
